* {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-color: rgb(92, 91, 86);
}

.customerLogin {
  display: flex;
  flex-direction: column;
  margin: 25vh auto;
  width: 20%;
  padding: 2em;
  background-color: rgba(179, 177, 171, 0.5);
  border-radius: 20px;
  font-size: 1.5rem;
}

.customerLogin input {
  margin-bottom: .5em;
}
.customerLogin input:focus {
  outline: none;
  background-color: rgb(221, 221, 221);
}

.submit {
  width: fit-content;
  margin: auto;
  padding: .25em;
}