* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

body {
  background-color: rgb(92, 91, 86);
}

.card {
  padding: 2em;
  background-color: rgba(179, 177, 171, 0.5);
  border-radius: 20px;
}
.card + .card {
  margin-top: 1em;
}

.centered {
  margin: 20vh auto;
  width: 40%;
  font-size: 1.5rem;
}

.centered label {
  text-align: left;
  margin-bottom: 0.25em;
}

.centered input {
  margin-bottom: 0.5em;
}

.centered input:focus {
  outline: none;
  background-color: rgb(221, 221, 221);
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.submit {
  width: fit-content;
  margin: auto;
  padding: 0.25em;
}
